<div class="row-cols-1 m-auto pb-3" style="background-color: rgb(241, 241, 241);">
    <div class="m-auto bg-white p-5 text-center">
            <H2 style="font-weight: bold;font-size: 300%;">CLIENTE</H2>
    </div>
    <div class="row row-cols-2 row-cols-md-4 m-auto mb-2 mt-3">
        <div class="row-cols-1 mt-2">
            <label class="text-center h-100" for="categoria" style="font-weight: bold;">Buscar cliente: </label>
        </div>
        <div class="row-cols-1 mt-2">
            <input type="text" class="form-control" placeholder="Ingrese DNI  de cliente...">
        </div>
        <div class="row-cols-1 mt-2">
                <button class="btn btn-light">Buscar</button> 
        </div>
    </div>
    <div class="w-75 m-auto">
            <div class="row-cols-1 w-50 m-auto mt-4">
                <button (click)="agregarCliente()" class="btn btn-success">Agregar Cliente Nuevo</button>
            </div>
    </div>

   
</div>