<div class="row-cols-1 pb-4" style="background-color: rgb(241, 241, 241);">
    <div class="row-cols-1 p-5 bg-white text-center">
        <h2 style="font-weight: bold;font-size: 300%;">¿Como me registro?</h2>
        <p class="fs-5">Acercate a las guarderías ubicadas en los extremos del Parque Xibi Xibi para que puedas disponer de un usuario y así poder realizar la reserva de una bicicleta de forma online.</p>
        <img src="assets/img/persona.png" style="width: 90px;" alt="">
    </div>
    <div class="w-75 m-auto mt-4" style="font-size: larger;">
        <h2 style="font-weight: bold;">Registro Presencial</h2>    
        <h5 style="font-weight: bold;">¿Qué necesito si me quiero registrar de manera presencial?</h5>
        <h6>Debes presentarte con la siguiente documentación:</h6>
        <ul>
            <li> DNI original. </li>
            <li> Email.</li>
        </ul>
    </div>
    <div class="w-75 row-cols-1 m-auto mt-5 mb-5">
        <h2>Ubicacion</h2>    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.473098662151!2d-65.29617946290338!3d-24.19020493232555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0fc8897a3a21%3A0x882807766f5b15f8!2sParque%20Lineal%20Xibi%20Xibi!5e0!3m2!1ses!2sar!4v1622089747519!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="w-75 row-cols-1 m-auto">
            <iframe width="560" height="400" src="https://www.youtube.com/embed/vHbGG_dTDME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>