  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="assets/img/icono.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        EcoBicis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" aria-current="page" [routerLink]="['home']">Inicio</a>
          </li>
          <li *ngIf="tipodeusuario =='usuarioweb'" class="nav-item">
            <a class="nav-link" [routerLink]="['reserva']">Reserva Online</a>
          </li>
          <li *ngIf="tipodeusuario =='admin'" class="nav-item">
            <a class="nav-link" [routerLink]="['bicicleta']">Gestionar Bicicletas</a>
          </li>
          <li *ngIf="tipodeusuario =='empleado'" class="nav-item">
            <a class="nav-link" [routerLink]="['prestamo']">Gestionar Prestamo</a>
          </li>
          <li *ngIf="tipodeusuario =='admin'" class="nav-item">
            <a class="nav-link" [routerLink]="['usuario']">Gestionar Usuarios</a>
          </li>
          
        </ul>
        <form class="d-flex " style="width: 35%;height: 34px;">
           
            <input class="col-10 col-md-4 me-2" placeholder="Usuario" type="text" *ngIf="ingresado=='noentro'" id="nombreusuario" name="nombreusuario" [(ngModel)]="usuario.nombreusuario">
            <input class="col-10 col-md-4 me-2" placeholder="Contraseña" type="text" *ngIf="ingresado=='noentro'" id="contrasenia" name="contrasenia" [(ngModel)]="usuario.contrasenia">
          <div class="nav-item" *ngIf="ingresado=='noentro'">
            <button class="btn btn-primary h-100" style="padding-top: -300px;" (click)="comprobarTipoUsuario()">Ingresar</button>  
          </div>
          <div class="col-12 col-md-8 nav-item" *ngIf="ingresado=='sientro'">
            <p class="text-white">Usuario : {{nombredelusuario}}</p>  
          </div>
          <div class="col-12 w-200 nav-item col-md-4" *ngIf="ingresado=='sientro'">
            <button class="btn btn-danger col-md-12"(click)="salir()">Salir</button>  
          </div>
        </form>
      </div>
    </div>
  </nav>