<div class="row-cols-1 m-auto pb-3" style="background-color: rgb(241, 241, 241);">
    <div class="m-auto bg-white p-5 text-center">
        <H2 style="font-weight: bold;font-size: 300%;">REGISTRAR PRESTAMO</H2>
    </div>
    <div class="w-75 m-auto pt-5">
        <div class="row row-cols-2">
            <div class="row-cols-1">
                <button class="btn btn-primary" (click)="prestamoPersonal()">Realizar préstamo de forma personal</button>    
            </div>
            <div class="row-cols-1">
                <button class="btn btn-primary" (click)="prestamoReserva()">Realizar préstamo apartir de reserva online</button>
            </div>    
        </div>
        <div class="mt-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur mollitia consequuntur quod a tempora esse, quos deserunt quisquam aliquid voluptatibus eos eaque similique architecto amet explicabo laborum eius modi culpa cupiditate magnam. Vel illo soluta saepe corporis voluptates tempora fuga dolor ullam placeat ex, voluptas vitae facilis! Quo tempora rem suscipit dolores laborum laboriosam, sit animi distinctio aspernatur ab delectus fugiat totam earum nesciunt, maxime provident qui quis, quasi ad. Cupiditate odit, nam, reiciendis numquam aperiam accusamus expedita, mollitia sequi sunt hic aliquam natus quam perferendis animi omnis blanditiis odio neque cumque officiis. Quos saepe aliquid fuga qui, hic rem!</p>
        </div>
    </div>
</div>