<div class="row-cols-1 m-auto">
    <div class="row-cols-1 m-auto" style="background-image: url('assets/img/fondonegro.jpg');height: 700px;">
        <div class="pt-5 col-10 offset-1">
            <h1 class="text-center text-white" style="font-size: 58px;">Disfruta de la Ciudad en Bicicleta</h1>
        </div>    
        <div class="text-center mt-5 row-cols-1">
            <button type="button" class="btn btn-outline-light fs-5 col-8 col-md-3" (click)="enviaraconsulta()">¿Como me registro?</button>
        </div>
        <div class="row-cols-1 text-center mt-5 ">
            <img class="w-50 h-100" src="assets/img/logodejujuy.png" alt="">
        </div>
    </div>
</div>