<!-- Footer -->
<footer class="page-footer font-small teal pt-4 text-white " style="background-color: black;">
 
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-12 mt-md-0 mt-3">
            
          <!-- Content -->
          <div>
            <h5 class="text-uppercase font-weight-bold">Terminos y condiciones</h5>
            <p>Estos términos y condiciones (los “Términos y Condiciones”) rigen la relación entre las personas que
                utilicen el Sistema de Transporte Público en Bicicleta de la Ciudad de San Salvador de Jujuy (los
                “Usuarios”) y M2 SOLUCOES EM ENGENHARIA LTDA – M1 TRANSPORTES SUSTENTÁVEIS
                LTDA.- Unión Transitoria ("EcoBicis"), quien reviste el carácter de operador, administrador, gestor y
                prestador del Sistema de Transporte Público en Bicicleta de San Salvador de Jujuy (el
                “Sistema”) y es, además, titular de dominio de las estaciones, bicicletas y demás elementos que integran
                el Sistema.
                </p>
          </div>
         
            <div>
                <img src="assets/img/codigoqr.png" height="100px" alt="">
            </div>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  

        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="http://sansalvadordejujuy.gob.ar/">Municipalidad de San Salvador de Jujuy</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->